<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body
    style="height: 100vh;background-image: url(./static/back.jpg);background-position: center;background-size: 1920px 1080px;">

    <!-- Dropdown Target -->
    <ul style="display: none">
        <li><a href="../login">Login</a></li>
        <li><a href="../signup">Sign up</a></li>
        <li><a href="../deactivate">Deactivate</a></li>
    </ul>

    {{{body}}}

</body>

</html>